* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: linear-gradient(135deg, #1e1e2f, #3b3b98);
    min-height: 100vh;
}

/*Botão sanduiche*/
.menu-btn{
    position: fixed;
    top:20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer
}

.menu-btn span{
    display: block;
    width: 35 px;
    height: 4px;
    background: white;
    margin: 7px;
    border-radius: 5px;
    transaition: 4s;
}

/*Animação x*/
.menu-btn.active span:nth-child(1){
    transform:rotate(-45deg) translate(-8px, 8px);
}

.menu-btn.active span:nth-child(2){
    opacity: 0;
}

.menu-btn.active span:nth-child(3){
    transform: rotate(45deg) translate(-8px, -8px);
}

/*Menu lateral*/
.menu{
    position: fixed;
    top: 10px;
    right: -280px;
    width: 280px;
    height: 100%;
    background: rgba(255, 255,, 255, .1);
    background-filter: blur(12px);
    padding-top: 100px;
    transition: .5s;
    box-shadow: -5px 0 20px rgba(0,0,0, .4);
}

.menu.active{
    right:0;
}

.menu ul{
    list-style: none;
}

.menu li{
    padding: 20px;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: .3s;
}

.menu a: hover{
    color: #00d2ff;
    letter-spacing: 2px;
}
/* TOPO */
.header {
    border: 3px solid green;
    padding: 20px;t    margin-bottom: 10px;
}

/* NAV */
.nav {
    border: 3px solid orange;
    padding: 15px;
    margin-bottom: 10px;
}

/* CONTAINER PRINCIPAL */
.container {
    display: flex;
    gap: 10px;
}

/* ARTICLE */
.article {
    flex: 3;
    border: 3px solid teal;
    padding: 10px;
}

/* HEADER DO ARTICLE */
.article-header {
    border: 3px solid blue;
    padding: 10px;
    margin-bottom: 10px;
}

/* IMAGEM */
.image {
    height: 120px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* SECTIONS */
.section {
    border: 3px solid purple;
    padding: 10px;
    margin-bottom: 10px;
}

/* FOOTER DO ARTICLE */
.article-footer {
    border: 3px solid purple;
    padding: 10px;
}

/* SIDEBAR */
.sidebar {
    flex: 1;
    border: 3px solid goldenrod;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ASIDES */
.aside {
    border: 3px solid lightgreen;
    padding: 20px;
}

/* FOOTER FINAL */
.footer {
    border: 3px solid gold;
    padding: 20px;
    margin-top: 10px;
}
